# Ignore project node_modules
node_modules
/node_modules

# Ignore editor settings
.vscode
/.vscode

# Ignore dashboard node_modules
dashboard/node_modules
/dashboard/node_modules

# Ignore generated back end servers
services/
