<mat-nav-list>
  <a mat-list-item routerLink="/admin/dashboard/users" routerLinkActive="active">
    <b>Users</b>
  </a>
  <a mat-list-item routerLink="/admin/dashboard/servers" routerLinkActive="active">
    <b>Servers</b>
  </a>
  <a mat-list-item routerLink="/admin/dashboard/provision" routerLinkActive="active">
    <b>Provision</b>
  </a>
  <a mat-list-item routerLink="/admin/dashboard/logs" routerLinkActive="active">
    <b>Logs</b>
  </a>
  <a mat-list-item routerLink="/admin/dashboard/settings" routerLinkActive="active">
    <b>Settings</b>
  </a>
</mat-nav-list>
