<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/admin/dashboard/servers">
    <!-- <mat-icon>person</mat-icon> -->
    <!-- <i class="fa fa-user-circle"></i> -->
    <!-- <i class="fa fa-key"></i> -->
    <!-- <i class="fa fa-id-card"></i> -->
    <!-- <i class="fa fa-id-badge"></i> -->
    <!-- <i class="fa fa-desktop"></i> -->
    <!-- <i class="fa fa-shield"></i> -->
    <i class="fa fa-code"></i>
    <!-- <i class="fa fa-university" aria-hidden="true"></i> -->
  <i class="ml-1">
      <!-- TODO: Username -->
  awpatterson217@gmail.com
  </i>
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <!-- TODO: Logout FN -->
        <a class="nav-link" routerLink="/admin/dashboard/home">Logout</a>
      </li>
    </ul>
  </div>
</nav>