<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let server of servers">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i *ngIf="server.status === 'online'" class="material-icons text-success mr-3">
          signal_cellular_alt
        </i>
        <i *ngIf="server.status === 'stopped'" class="material-icons text-warning mr-3">
          pause
        </i>
        <i *ngIf="server.status === 'errored'" class="material-icons text-danger mr-3">
          error
        </i>
        <span class="server-title">{{ server.name }}</span>
      </mat-panel-title>
      <mat-panel-description>
        {{ server.description }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row p-3">
      <div class="col-6">
        <mat-list dense>
          <mat-list-item>Version: &nbsp; {{ server.version }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Active URL: &nbsp; <a [href]="sanitize(server.activeURL)" target="_blank">{{server.activeURL}}</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Repository: &nbsp; {{ server.repository }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Created: &nbsp; {{ server.created_at | date:'EEEE, MMMM d, y, h:mm:ss a' }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Uptime: &nbsp; {{ server.pm_uptime | date:'EEEE, MMMM d, y, h:mm:ss a' }}</mat-list-item>
        </mat-list>
      </div>
      <div class="col-6">
        <mat-list dense>
          <mat-list-item>Unstable Restarts: &nbsp; {{ server.unstableRestarts }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Instances: &nbsp; {{ server.instances }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Memory: &nbsp; {{ formatBytes(server.memory) }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>CPU: &nbsp; {{ server.cpu }}%</mat-list-item>
        </mat-list>
      </div>
    </div>

    <div class="row">
      <div class="col-9 p-1 text-center">
        <button mat-raised-button (click)="start(server.name)" class="btn btn-success">Start</button>
        <button mat-raised-button (click)="reload(server.name)" class="btn btn-primary  ml-2">Reload</button>
        <button mat-raised-button (click)="suspend(server.name)" class="btn btn-warning ml-2">Suspend</button>
        <button mat-raised-button (click)="delete(server.name)" class="btn btn-danger ml-2">Remove</button>
      </div>
      <div class="col-3 p-1">
        <button mat-raised-button [routerLink]="['/logs', server.name]" class="btn btn-info">Logs</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
