<mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let server of servers">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i *ngIf="server.status === 'online'" class="material-icons text-success mr-3">
            signal_cellular_alt
          </i>
          <i *ngIf="server.status === 'stopped'" class="material-icons text-warning mr-3">
            pause
          </i>
          <i *ngIf="server.status === 'errored'" class="material-icons text-danger mr-3">
            error
          </i>
          <span class="server-title">{{ server.id | titlecase}}</span>
        </mat-panel-title>
        <mat-panel-description>
          <!-- {{ server.repository }} -->
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-9 p-1 text-center">
          <button mat-raised-button (click)="start(server.id)" class="btn btn-success">Start</button>
          <button mat-raised-button (click)="reload(server.id)" class="btn btn-primary  ml-2">Reload</button>
          <button mat-raised-button (click)="suspend(server.id)" class="btn btn-warning ml-2">Suspend</button>
          <button mat-raised-button (click)="remove(server.id)" class="btn btn-danger ml-2">Remove</button>
        </div>
        <div class="col-3 p-1">
          <button mat-raised-button [routerLink]="['/servers/logs', server.id]" class="btn btn-info">Logs</button>
        </div>
      </div>
    </mat-expansion-panel>
</mat-accordion>
